/* About Us Page */
.members {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
	width: 90%;
	gap: 4rem;
	color: #4a0f2a;
}

.members-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.members .circuitos,
.members .documentacion,
.members .ensamblaje,
.members .software {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.members .members-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem;
	flex-wrap: wrap;
}

.members .members-list .member {
	width: 12rem;
	/* margin-top: 1rem; */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .25rem;
	text-align: center;
}

.members .members-list .member p {
	/* color: #4a0f2a; */
	font-size: .75rem;
}

.members .members-list .member img {
	width: 7.5rem;
	border-radius: 10rem;
  box-shadow: .2rem .2rem .125rem #71224666;
}

@media screen and (max-width: 768px) {
	.members .members-list .member {
		width: 9rem;
	}

	.members .members-list .member img {
		width: 5rem;
	}

	.members .members-list .member h4 {
		/* color: #4a0f2a; */
		font-size: 1rem;
	}
}