/* Basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Exo 2', sans-serif;
	background: linear-gradient(to bottom, #bdb3cb, #efc2ba);
	color: #d5d6fd;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* Header */
header nav {
	display: flex;
	justify-content: flex-end;
	margin: 1rem 1.5rem;
	height: 5vh;
}

header nav ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}

header nav ul li a {
	color: #4a0f2a;
	font-size: 1rem;
	transition: .25s;
}

header nav ul li a:hover {
	color: #1f0100;
	transition: .25s;
}

/* Landing Page Section */
.landing-page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	/* height: 100vh; */
	margin: auto;
	width: 90%;
	height: 90vh;
}

.landing-page-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #4a0f2a;
	width: 80%;
	text-align: center;
	font-weight: 200;
}

.landing-page-title h1 span {
	/* color: #712246; */
	font-weight: 300;
}

.landing-page-detector {
	display: flex;
	/* align-self: center; */
	align-items: center;
	padding: .75rem;
	margin: 1rem 0;
	gap: .5rem;
	border-radius: .5rem;
	border: none;
	background: linear-gradient(#ff2f4f, #4a0f2a);
	transition: .5s;
	cursor: pointer;
}

/* .landing-page-detector:hover {
	background: linear-gradient(#E09F3E, #FFF3B0);
	transition: .5s;
} */

.landing-page-detector i {
	color: #ffd5d5;
	font-size: 1.5rem;
}

.landing-page-detector p {
	color: #ffd5d5;
	font-weight: 700;
}

.landing-page-logo {
	width: 30%;
	border-radius: 1rem;
	filter: drop-shadow(10px 20px 4px rgba(0, 0, 0, 0.25));
}

/* Fooooter */
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 1rem .25rem;
	color: #4a0f2a;
	height: 5vh;
}

footer i {
	color: #d84949;
}

footer .ig-link {
	font-size: 1.25rem;
}

/* About Us Page */
.members {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 90%;
	gap: 4rem;
	color: #712246;
}

.members-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.members .circuitos,
.members .documentacion,
.members .ensamblaje,
.members .software {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.members .members-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem;
	flex-wrap: wrap;

}

.members .members-list .member {
	width: 12.5rem;
	/* margin-top: 1rem; */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .25rem;
	text-align: center;
}

.members .members-list .member p {
	/* color: #4a0f2a; */
	font-size: .75rem;
}

.members .members-list .member img {
	width: 7.5rem;
	border-radius: 10rem;
}

/* Project Page */
.project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem 3rem;
	gap: 4rem;
	color: #4a0f2a;
}

.project-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project h2 {
	color: #4a0f2a;
}

.project h4 {
	color: #712246;
}

.project p {
	color: #913d63;
}

.project img {
	width: 30%;
	border-radius: 1rem;
}

.project .projects .kart .kart-materiales {
	display: flex;
	flex-direction: row;
}

.project .projects .kart .kart-materiales .kart-material {
	display: flex;
	flex-direction: column;
	align-items: center;
}